*{
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
.row{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e5e5e5;
}
.far-left{
    background-color: #04445e;
    min-height: 100vh;
}
.center{
    background-color: #0445ef;
}
img{
    height: 170px;
    width: 170px;
    border-radius: 50%;
}
.image{
    height: 250px;
    width: 250px;
    border: 1px solid #fff;
    border-style: dashed;
    border-radius: 50%;
    padding: 40px !important;
}
.vl{
    width: 3px;
    height: 50px;
    background-color: #fff;
}
.small-text{
    background-color: rgba(255, 255, 255, 0.2);

}
.container{
    /* margin: 15px !important;
    padding: 15px !important; */
}
.div-item{
    border-bottom: 2px solid rgba(212, 212, 212, 0.3);
    padding: 15px 5px !important;
    width: 100%;
    position: relative;
}
.div-item::before{
    content: "";
    position: absolute;
    width: 3px;
    height: 30px;
    background-color: rgba(212, 212, 212, 0.3);
    top: 30%;
    left: -3%;
}
.card-1{
    height: 24rem;
}
.four-items{
    margin-top: 10px !important;
}
.div-card{
    height: 13rem;
    box-shadow: 0px 0px 5px 1px #eee;
}
.card-2{
    background-color: white;
    box-shadow: 0px 0px 3px 0px rgba(163, 163, 163, 0.6);
    border-radius: 5px;
}
